body {
  background-color: rgb(26, 27, 30);
  font-size: 10vp;
  font-style: oblique;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(41, 190, 248), rgb(129, 21, 146));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.p1 {
  color: rgb(87, 152, 173);
  text-align: justify;
  margin: 12vh;
}
